
.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;  
}

.checkoutProduct__info {
    padding-left: 1px;
     padding-top: 10%;
} 

.checkoutProduct__info > button {
    background: #F5EEE6;
    border: 1px solid;
    margin-top: 10px;
     border-color: #F3D7CA;
    
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }

.checkoutProduct__rating {
    display: flex;
  }

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}
                                 