.header {
 height: 60px; 
 display: flex ;
 align-items: center;
background-color: #F3D7CA;
position: sticky ; 
top: 0; 
z-index: 100;                     }
 

.header__logo {
    width: 140px; background-blend-mode:multiply;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 0px;                 }
.header__search{
display: flex;
flex: 1;
align-items: center;
border-radius: 24px;   border-radius: 50%;                 }




.header__searchIcon{
padding: 5px; border-top-right-radius: 50%;   border-bottom-right-radius: 50%;  
height: 22px !important; 
background-color:#F5EEE6;              }



.header__searchInput{
height: 12px;border-top-left-radius: 10px;  border-bottom-left-radius: 10px;  
padding: 10px; background-color:#F5EEE6;
border: none;
width:75%;                        }




.header__nav{
display: flex ;
justify-content: space-evenly ;                    }


.header__OptionBasket{display: flex;
align-items: center;
color : #E6A4B4;                                    }


.header__option{
    display:flex ;
    flex-direction:column ;
    margin-left:10px;
    margin-right:10px ;
    color: rgb(255, 255, 255);           }



    .header__optionLineOne{
        font-size: 10px;       color:#E6A4B4            }




    .header__optionLineTwo{
        font-size: 13px;
        font-weight: 800;       color:#E6A4B4             }


 
    .header__BasketCount{
        
        margin-left: 10px;
        margin-right: 10px;                }